@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
}

.plc-components {
  display: block;
  width: 100%;
  }
.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.Plc-components {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px;
  min-height:72vh;
  background-image: url(http://www.ubuntubackgrounds.com/wallpapers16-9/abstract-ubuntu-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  margin: 0px;
}

.Plc-components > div > h1 {
  font-size: 24px;
}

.PlcComponent-button {
  width: 200px;
  padding: 15px;
  font-size: 20px;
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  background-color: #8dc63f;
  box-shadow: #8dc63f;
  border: none
}

.PlcComponent-counter {
  color: red;
  font-size: 30px;
  font-weight: 800;
}

.PlcComponent-select {
  width: 200px;
  padding: 10px;
  font-size: 18px;
  background-color: #252c14;
  color: white;
  font-weight: 700;
}
.PlcComponent-select-label {
  display: block;
  border: 2px solid #8dc63f;
  width: 200px;
  margin-bottom: 10px;
  box-shadow: #8dc63f;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 600;
  color: #8dc63f;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.api-page {
  min-height: 72vh;
  display: flex;
  background-image: url(http://www.ubuntubackgrounds.com/wallpapers16-9/abstract-ubuntu-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.api-page__content {
  margin: 0 auto;
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  font-weight: 700;

}

.api-page__input {
  color: red;
}

.api-page__content p {
  margin-left: 30px;
}
.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-header__h1 {
  font-family: Roboto;
}

.header-navigation {
  display: flex;
  padding-bottom: 20px;
}

.header-navigation a{
  margin-left: 15px;
  color: #8dc63f;
}

.footer {
  background-color: #282c34;
  min-height:10vh

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
